<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create New Post</title>
  <link rel="stylesheet" href="/new-style.css" />
</head>
<body>

  <form class="new-post-form" action="/posts" method="POST" enctype="multipart/form-data">
    <h2>Create New Post</h2>

    <input type="text" name="username" placeholder="Your Name" required />

    <textarea name="content" placeholder="Write something..." rows="5" required></textarea>

    <input type="file" name="image" accept="image/*" />

    <button type="submit">Post</button>
  </form>

</body>
</html>
